.body {
    background-color: rgb(130, 199, 95);
}

.container {
    width:95%;
    height:100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-counter {
    padding-top: 2rem;
    font-size: 4rem;
}

.counter {
    border: 5px solid black;
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
    text-align: center;
    background-color: #feffea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter h1 {
    font-size: 2rem;
}

#count {
    font-size: 9rem;
}